@font-face {
    font-family: 'regular';
    src: url(font/ClashGrotesk-Regular.woff2);
}

@font-face {
    font-family: 'semi';
    src: url(font/ClashGrotesk-Semibold.woff2);
}

@font-face {
    font-family: 'variable';
    src: url('font/ClashGrotesk-Variable.woff2') format("woff2 supports variations"),
         url('font/ClashGrotesk-Variable.woff2') format("woff2-variations");
    font-weight: 100 1000;
  }

:root {
    --color: hsl(0, 0%, 13%);
    --color2: hsl(0, 0%, 96%);
    --padding: 1.5rem;


    font-family: 'regular';
    font-size: 12px;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    color: var(--color);
    background-color: var(--color2);
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
    font-size: inherit;
	cursor: pointer;
	outline: inherit;
}

body, h2, h3, p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h2, h3, button{
    text-transform: uppercase;
}

h2, h3 {
    box-sizing: border-box;
    padding-top: 0.1em;
    vertical-align: middle;
    line-height: 0;
}

h2, button {
    font-family: 'variable';
    font-variation-settings: "wght" 400;
    transition: font-variation-settings 400ms ease-in-out;
}

h2:hover, h3:hover { cursor: default;}

.title {
    width: 100%;
    margin-bottom: var(--padding);
}

main {
    display: grid;
    box-sizing: border-box;
    justify-items: center;
    height: 100dvh;
    width: 100vw;
    grid-template-rows: auto 1fr;
}

header {
    width: 100%;
    display: grid;
    justify-items: center;
    max-width: 470px;
    padding-inline: 20px;
    padding-block: var(--padding) calc(var(--padding) / 2);
    box-sizing: border-box;
    background: var(--color2);
}

.work {
    /* padding-inline: 0.5rem; */
    box-sizing: border-box;
    position: relative;
    display: grid;
    width: 100%;
    color: var(--color);
    margin-bottom: var(--padding);
}
/* .work::after,
.work::before  {
    content: '';
    display: block;
    position: absolute;
    top: 0.15em;
    height: calc(100% - 0.2em);
    width: 1px;
    background: var(--color);
}

.work::before{left: 0;}
.work::after{right: 0;} */


.project, .space {
    box-sizing: border-box;
    height: 1.2em;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.buttons {
    box-sizing: border-box;
    display: flex;
    gap: 1em;
}

button:hover, .project.active > h2 {
    font-variation-settings: "wght" 600;
}

.loading-container {
    font-size: 1.4rem;
    box-sizing: border-box;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: var(--color2);
    width: 100%;
    height: 100%;
}

.canvas-container, #canvas {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#canvas {
    display: block;
    object-fit: cover;
}

#indicator {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    width: 100%;
    /* position: relative; */
    justify-content: center;
}

#indicator::before {
    
}
#scrub {
    position: relative;
    /* display: flex; */
    height: 1px;
    width: 100%;
    background-color: red;
}

#scrub::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    width: 23px; 
    height: 3px;
    border-radius: 1.5px;
    background: red;
    /* border: solid 1px var(--color2); */
    transform: translate(-50%, -50%);
}

@media (min-width: 500px) {
    :root {
        --padding: 5px;
    }

    body, h2, h3, p {
        font-size: 11px;
        font-weight: 400;
        margin: 0;
        padding: 0;
    }

    header {
        padding-block: calc(var(--padding) / 2);
    }

    .work {
        margin-bottom: 0;
    }
}

@keyframes test {
    0%{font-variation-settings: "wght" 400;}
    100%{font-variation-settings: "wght" 600;}
}